<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>67376001495-biv6g4fvl1aeietgpd6qs1samsq7b9pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67376001495-biv6g4fvl1aeietgpd6qs1samsq7b9pd</string>
	<key>API_KEY</key>
	<string>AIzaSyBf-0ZFhh3A1xgWakIOQcG40rKOly2xyJI</string>
	<key>GCM_SENDER_ID</key>
	<string>67376001495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.superble</string>
	<key>PROJECT_ID</key>
	<string>superble-dev-bb6e0</string>
	<key>STORAGE_BUCKET</key>
	<string>superble-dev-bb6e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67376001495:ios:3078d56d95d12e3e</string>
	<key>DATABASE_URL</key>
	<string>https://superble-dev-bb6e0.firebaseio.com</string>
</dict>
</plist>